body {
    font-family: Arial, sans-serif;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

#album-gallery {
    margin-bottom: 20px;
}

.card {
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    #album-gallery .col-md-4 {
        width: 100% !important;
    }
}
