body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.header {
  height: 45px;
  background-color: #324156;
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  position: sticky;
  top: 0;
  user-select: none;
  > .link {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  }
}

.container-main {
  display: flex;
  padding: 0 7rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  #album-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px 0;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    > .card-main {
      cursor: pointer;
      width: 100%;
      max-height: 400px;
      min-height: 400px;
      max-width: 400px;
      min-width: 400px;
      overflow: auto;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      transition: 0.2s ease transform;
      background-color: #f5f5f5;
      border-radius: 8px;
      &:hover {
        transform: scale(1.1);
      }
      > .img {
        width: 100%;
        height: 300px;
        border-radius: 4px;
      }
      > .card-body {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        > .title {
          font-size: 0.875rem;
          color: #3f3f3f;
          font-weight: 700;
          margin-bottom: 0;
        }
        > .description {
          font-size: 0.75rem;
          color: #606060;
        }
      }
    }
  }
  .modal {
    .modal-content {
      .modal-header {
        > .modal-title {
          font-size: 0.875rem;
          color: #3f3f3f;
          font-weight: 700;
        }
      }
      .modal-body {
        #modal-title {
          font-size: 0.875rem;
          color: #3f3f3f;
          font-weight: 500;
          margin-bottom: 0;
        }
        #modal-description {
          font-size: 0.75rem;
          color: #606060;
        }
      }
    }
  }
}
